h1 {
    font-family:Helvetica, sans-serif;
    }

body {
    background-image: linear-gradient(to right, #4facfe 10%, #00f2fe 100%);
    }

.head_title {
    color:white;
    font-size: 30px;
    background-color:transparent;
    text-align: center;
    }

.subtitle {
    text-align: right;
    color: white;
    margin-top: 10px;
    }
.pic_rafa {

    }

.about_rafa {

    }

.menu {
    font-size: 40px;
    margin-top: 100px;
    color: white;
    border-top: black;
    
    }